{% load static %}
<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static '/src/imagens/favIcon1.png' %}" type="image/x-icon" id="icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static '/src/css/icon.css' %}">

    <link rel="stylesheet" href="{% static '/src/css/estilo.css' %}">

    <link rel="stylesheet" href="{% static '/src/css/reset.css' %}">

    <link rel="stylesheet" href="{% static '/src/css/scrollbar.css' %}">
    <title>História</title>
</head>
<body>
    <header class="cabecalho">
        <nav>
            <ul class="menu">
                <img class="logo" src="{% static '/src/imagens/título.png' %}" alt="Logo em vermelho, do grupo Racionais Mc's">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'integrantes' %}">Integrantes</a></li>
                <li><a href="{% url 'historia' %}">História</a></li>
                <li><a href="{% url 'discografia' %}">Discografia</a></li>
            </ul>       
        </nav>
    </header>
    <br>
    <h2 class="titulo_h2">🧾História🧾</h2>
        <h3 class="historia_2">Como surgiu o grupo?</h3>
        <div class="disco_texto"> 
            <img src="{% static '/src/imagens/image_processing20200201-29235-1od2edb.jpg' %}" class="tim_r" alt="Mano Brown e KL Jay durante a juventude" >
            <p class="historia_4">Mano Brown e KL Jay durante a juventude</p>
        </div>
        <br>
        <p class="historia_3">A história dos Racionais MC’s teve início em São Paulo, no ano de 1988. Eles se conheceram quando Mano Brown e Ice Blue foram ver o KL Jay e Edi Rock tocar no Clube do Rap, que na década de 80 ficava na Av. Brigadeiro Luís Antônio, em São Paulo.</p>
        <br>
        <p class="historia_3">Depois, marcaram de se encontrar na Rua São Bento, ponto de encontro da cena hip hop paulista e foi assim que Mano Brown, Ice Blue, Edi Rock e KL Jay passaram a somar forças na construção artística.</p>
        <br>
        <div class="disco_texto"> 
            <img src="{% static '/src/imagens/álbuns/TimRacional1.jpeg' %}" class="tim_r" alt="Capa do álbum: Racional de Tim Maia" >
        </div>
        <p class="historia_4">Disco Racional de Tim Maia</p>
        <p class="historia_3" id="racional">
            A inspiração para o nome do grupo veio de Tim Maia, mais precisamente do disco Racional. Em 1988, gravaram as primeiras músicas que entraram na coletânea Consciência Black, Vol. I, Tempos Difíceis e Pânico Na Zona Sul. Em 1990, gravaram o primeiro EP, Holocausto Urbano e no ano seguinte o segundo, Escolha O Seu Caminho.
        <br><br>
            Nesses trabalhos, o grupo já mostrava a que veio: falar sobre a violência sofrida pelos jovens da periferia, o combate ao racismo e as desigualdades sociais.
        </p>
        <br>
        <p class="historia_3"> 
            Durante uma entrevista para a revista Trip, Mano Brown chegou a comentar que no início o grupo se comportava como se fosse uma gangue. Andavam armados e costumavam repartir o dinheiro dos shows, sem investir em nada. 
        </p>
        <br>
        <div class="disco_texto"> 
            <img src="{% static '/src/imagens/membros-racinais-jovens-posando-em-carro.jpg' %}" class="tim_t" alt="Membros dos Racionais Jovens posando sobre o carro" >
            <p class="historia_4">Membros dos Racionais posando sobre o carro</p>
        </div>
        <br>
        <p class="historia_3">
            Em 93 as coisas começaram a caminhar para eles, os Racionais MC’s faziam uma média de seis shows por noite e quando chegava na segunda, repartiam o dinheiro entre os integrantes.
        </p>
        <br>
        <p class="historia_3">
            Para KL Jay, quando você é jovem e preto, não tem muita opção de trabalho e vem a ambição de querer tênis, moto, e, sem perspectiva de emprego, fica seduzido pelo crime. Mas, o rap tomou parte da vida deles e foram salvos antes que fosse tarde.
        </p>
        <br>
        <p class="historia_3">
            Ver de perto a violência que ocorre dentro das periferias fez com que todos repensassem e foi a partir dessa visão que passaram a dialogar e ensinar milhares de jovens.
        </p>
        <br>
        <h3 class="historia_2"> 🩺 Raio X do Brasil 🟨🟩</h3>
        <div class="disco_texto">
            <img src="{% static '/src/imagens/álbuns/Raio_X_Brasil.jpg' %}" class="tim_r" alt="Capa do álbum: Raio X do Brasil">
            <p class="historia_4">Raio X do Brasil</p>
        </div>
        <p class="historia_3">
            Após os dois EPs, o primeiro álbum do Racionais MC’s foi lançado em 1993, com o nome de Raio-X Brasil. Nesta época, o grupo estava em evidência em São Paulo e já era muito conhecido na periferia. 
        </p>
        <p class="historia_3">
            Duas músicas se destacaram no disco: a primeira foi Fim De Semana No Parque e, com isso, o grupo ganhou projeção em outros estados. Em seguida, veio o sucesso Homem Na Estrada. 
        </p>
        <br>
        <p class="historia_3">
            Escritas por Mano Brown, as músicas passaram a tocar em rádios e em bailes de hip hop, fazendo o Brasil se voltar para o que o grupo estava denunciando em suas letras.
        </p>
        <h3 class="historia_2">🔥 Sobrevivendo no Inferno 🔥</h3>
        <div class="disco_texto">
            <img src="{% static '/src/imagens/álbuns/220px-Sobrevivendo_no_Inferno.jpg' %}" class="tim_r" alt="Capa do álbum: Sobrevivendo no Inferno">
        </div>
        <br>
        <p class="historia_3">
            Quatro anos depois, um divisor de águas acontece na carreira do Racionais, com o lançamento de um dos álbuns mais aclamados do rap nacional, Sobrevivendo No Inferno, de 1997.
        </p>
        <br>
        <p class="historia_3">
            O álbum vendeu aproximadamente 500 mil cópias e o clipe de Diário De Um Detento se destacou nas paradas da MTV e acabou conquistando dois prêmios no Video Music Brasil: Melhor Vídeo de Rap e Escolha da Audiência.
        </p>
        <br>
        <p class="historia_3">
            Aliás, os integrantes sempre foram alheios a entrevistas, principalmente no início da carreira e, por conta dessa postura, a produção da MTV quase não conseguiu levá-los para receber os prêmios. 
        </p>
        <br>
        <p class="historia_3">
            Além de Diário De Um Detendo, o disco trouxe outros grandes clássicos, como Capítulo 4, Versículo 3, Fórmula Mágica Da Paz e Mágico De Oz.
        </p>
        <h3 class="historia_2"> 💪🏾 Nada Como Um Dia Após O Outro Dia 💪🏾</h3>
        <div class="disco_texto">
            <img src="{% static '/src/imagens/álbuns/Nada_como_um_dia_após_o_outro_dia.jpg' %}" class="tim_r" alt="Capa do álbum: Nada Como Um Dia Após O Outro Dia">
            <p class="historia_4">Nada Como Um Dia Após O Outro Dia</p>
        </div>
        <p class="historia_3">
            Em Nada Como Um Dia Após O Outro Dia, encontramos sucessos como Vida Loka I e II, Jesus Chorou, Negro Drama, A Vida É Desafio, Da Ponte Pra Cá, entre outros. 
        </p>
        <br>
        <p class="historia_3">
            Após um hiato de 12 anos, o Racionais MC’s lançou Cores & Valores, de 2014. O disco mostra o grupo se renovando, com músicas bem menores, com 2 ou 3 minutos de duração, e muitos fãs acabaram não compreendendo essa mudança.
        </p>
        <p class="historia_3">
            Porém, a revista Rolling Stone Brasil o elegeu como melhor disco nacional de 2014.
        </p>
        <br>
        <h3 class="historia_2"> 👨🏾‍🎓 Vestibular 👩🏾‍🎓</h3>
        <div class="disco_texto">
            <img src="{% static '/src/imagens/71peoM4V0lL.jpg' %}" class="tim_s" alt="Capa do livro: Sobrevivendo no Inferno">
            <p class="historia_4">Livro: Sobrevivendo no Inferno</p>
        </div>
        <p class="historia_3">
            O disco clássico do Racionais MC’s, Sobrevivendo No Inferno, virou livro em 2018, editado pela Companhia das Letras. 
        </p>
        <br>
        <p class="historia_3">
            A obra-prima é um registro histórico que resgatou a autoestima do jovem negro, ao abordar a realidade violenta dentro das periferias. A mensagem do grupo serviu para alertar os jovens a optarem por outros caminhos e fugir de vez da criminalidade. 
        </p>
        <br>
        <p class="historia_3">
            Por conta da importância das letras e todo o contexto, o livro se tornou leitura obrigatória do vestibular da Unicamp.
        </p>
        <br>
        <p class="historia_3">
            Na ocasião, o Racionais MC’s comemorou a inclusão do livro entre as leituras obrigatórias do vestibular 2020 através das redes sociais com a mensagem: é a periferia ocupando a Academia.
        </p>
        <br>
        <h3 class="historia_2">Importância para o Rap Nacional</h3>
        <p class="historia_3">
            Além de terem conquistado sucesso de crítica e público, o Racionais MC’s se tornou uma potente voz ativa para a cultura negra. Eles falaram por multidões de jovens que, por tantos anos, foram silenciados.
        </p>
        <br>
        <p class="historia_3">
            Denunciaram abusos cometidos pela polícia dentro das comunidades, criticaram veementemente o racismo e contribuíram para importantes reflexões políticas e sociais.
        </p>
        <br>
        <p class="historia_3">
            Por conta de suas escolhas em samplear grandes cantores, como Tim Maia, Jorge Ben, Al Green, Marvin Gaye, James Brown, Djavan, entre muitos outros, o grupo fez com os jovens conhecessem artistas essenciais da história da música. 
        </p>
        <br>
        <p class="historia_3">
            Em seus pouco mais de 30 anos de carreira, quando saem às ruas, os integrantes ainda escutam que a música do Racionais salvaram vidas e mudaram mentes. 
        </p>
        <br>
        <p class="historia_3">
            A escritora e filósofa Djamila Ribeiro, em um vídeo no canal do grupo no YouTube, relatou que chegou a dar aulas com a letra de O Homem Na Estrada para explicar uma realidade que eles se identificavam.
        </p>
        <br>
        <p class="historia_3">
            Muitos nomes da nova geração do rap, como Djonga, Emicida, Criolo, Karol Conka, Preta Rara, Projota, Tássia Reis e Djonga foram influenciados pelo Racionais, o que mostra o grande legado e contribuição do grupo para o rap brasileiro.
        </p>
        <br>
        <div class="disco_texto"> 
            <img src="{% static '/src/imagens/images.jfif' %}" class="tim_r" alt="Homem negro de balaclava realizando a leitura de Sobrevivendo no Inferno" >
            <p class="historia_4">O conhecimento liberta os nossos irmãos!</p>
        </div>
        <footer>
            <p id="infooter">Site desenvolvido por grupo 4 do <a href="https://programadoresdoamanha.org" id="pda">Programadores do Amanhã</a></p>
            <div>
                <a href="https://github.com/JoaoAmorim01" target="_blank"><img id="github" src="{% static '/src/imagens/Octicons-mark-github.svg.png' %}" alt="Logo Github"></a>
            </div>
        </footer>
</body>
</html>